<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/Images/favicon.jpg">

    <title>Never Land Cop</title>
    
    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/themes/bootstrap/css")

    <!-- Custom styles for this site -->
    @Styles.Render("~/Content/site/css")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="../../assets/js/html5shiv.js"></script>
          <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <header>
        @Html.Partial("HeaderPartial")
    </header>
    <section id="body" class='clearfix'>
        @RenderBody()
    </section>
    <footer>
        @Html.Partial("FooterPartial")
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/JSON")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/pages")
    @Scripts.Render("~/bundles/bootstrapJs")
    @RenderSection("scripts", required: false)
</body>
</html>
