@model WebApp.ViewModel.LoginVM
@{
    this.ViewBag.Title = "NerverLand UK" + this.Model.EnvironmentName;
    this.Layout = "~/Views/Shared/LayoutDefault.cshtml";
}

<header>
    <h1 class="normal-text">@this.Model.OrganizationName - @this.Model.EnvironmentName</h1>
</header>

<div id="resultDialog">
</div>
@Html.DropDownListFor(model=>model.ListDemo, new SelectList(Model.ListDemo, "key", "key"), new {id="List1"})
@Html.DropDownListFor(model=>model.ListDemo, new SelectList(Model.ListDemo, "key", "value"), new {id="List2"})
<section id="login">
    @using (this.Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "loginForm", defaultfocus = "submit-login" }))
    {
        <div id ="Username">
            @this.Html.LabelFor(d => d.LoginModel.UserName)
            @this.Html.TextBoxFor(d => d.LoginModel.UserName, new { tabindex = 1 })
        </div>
        <div id ="Password">
            @this.Html.LabelFor(d => d.LoginModel.Password)
            @this.Html.TextBoxFor(d => d.LoginModel.Password, new { tabindex = 1 })
        </div>
        this.Html.ValidationMessageFor(d => d.LoginModel.Password);
        <div id="resultLogin" class="clearfix error-text">@this.Model.Message</div>
        <div class="clearfix">
            <input type="submit" name="submit-login" id="submit-login" class=" active-background" value="Login" />
        </div>
    }
</section>
@this.Html.HiddenFor(model => model.AutoLoginErrorMessage)
<footer class="body-background clearfix">
    @this.Html.Partial("FooterPartial")
</footer>

<script>
    $(document).ready(function() {
        Ojb.Login.init();
    });
</script>
